@page "/categoria"

<h3>Categorias</h3>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var categori in categorias)
            {
                <tr>
                    <td>@categori.CatCodigo</td>
                    <td>@categori.CatNombre</td>
                    <td>@categori.CatDescripcion</td>
                    <td>@categori.Productos</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {

    ICategoria categoria = new CategoriaService();
    private List<Categorium>? categorias;

    protected override async Task OnInitializedAsync() => categorias = await categoria.GetAllCategorias();
}
